#defaultModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.img-thumbnail-small-width {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-thumbnail-small-width:hover {opacity: 0.7;}

/* The Modal (background) */
.modal_image_display {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-image-display {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content-image-display, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 100px;
    right: 100px;
    color: #f1f1f1;
    font-size: 100px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content-image-display {
        width: 100%;
    }
}


/*users managemnet css*/

.users-circle{ 
    border-radius: 50% !important;
}
.form-group .form-line .form-label.posted_date{
    top: -5px;
}

.select-developer.active{
    background-color: #2196F3 !important;
}

.slack-status.active{
    background-color: #4dac86 !important;
}

.slack-status{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #4dac86;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: -3px;
}

.messaging-block {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 5px;
}
.slack-massages{
    height: 300px;
    overflow-x: auto;
}

.loading-block{
    background-color: #f1f3fa;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top:0;
}

.display-none{
    display: none;
}

.loading-block .fa-spinner{
   width: 100px;
    height: 100px;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.w-60-px {
    width: 60px;
    position: relative;
}

.slack-massages.forum-block .info-div, .slack-massages .info-div-answer{
    padding: 10px 15px !important;
}

.slack-massages.forum-block .first-name {
    margin-right: 10px;
    font-size: 14px;
}

.slack-massages.forum-block .reply-time {
    font-size: 12px;
}

.slack-massages.forum-block .info-txt {
    margin: 10px 0 0;
    font-size: 12px;
}

.slack-massages.forum-block .table-div {
    padding: 10px;
}

.m-b-2-px{
    margin-bottom: 2px !important;
}

.slack-massages.forum-block:before {
    display: none;
}

.slack-massages.forum-block .info-div:before {
    left: -13px;
    top: 7px;
}

#origin
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 5px;
    min-height: 700px;
    width: 100%;
}

#origin img, #drop img {
    margin-top: 3px;
    margin-left: 5px;
}

#drop
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 5px;
    min-height: 700px;
    width: 100%;
}
.draggable
{
    border: solid 2px gray;
}

.resource-block{
    margin: 0;
    width: 32%;
    padding: 5px;
    height: 260px;
    overflow: hidden;
    display: inline-block;
}

.sidebar .menu .list a{
    padding: 10px 30px;
}

.messaging-block .slack-massages .material-icons{
    font-size: 21px;
    margin: 5px;
    float: right;
    cursor: pointer;
}

.attach-file{
    cursor: pointer;
}

.group-users, .temp-container{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 5px;
}

.msg-notify{
    color: green;
}

.msg-notify.msg-err{
    color: red;
}

#addTempModal .modal-dialog{
    margin-top: 300px;
}

#addTempModal .modal-content{
    padding: 5px 10px;
}

.template-block{
    padding: 10px 25px;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-bottom: 5px !important;
}
.template-block:hover{
    background-color: lightgray;
}
.template-block.active{
    background-color: #1f91f3;
    color: white;
    border: 2px solid #1f91f3;
}
.temp-container{
    padding: 10px;
}